* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px 50px;
    width: 1550px;
}

.menu{
    margin-top: 10px;
    float: left;
    width: 300px;
    height: 0px;
    margin-left: 0px;
    margin-right: 50px;
    text-align: right;
}

.menu{
    text-align: center;
}

.menu a{
    margin-right: 20px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    color: rgb(64, 16, 232);
}

.content{
    float: right;
    width: 1000px;
    height: 60px;
    margin-right: 150px;
    text-align: center;
}

.logo{
    float: left;
    width: 300px;
    margin-left: 0px;
    margin-bottom: 50px;
}

.container{
    margin-top: 25px;
    margin-left: 13px;
    text-align: center;

}

.form_for_param{
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
}

.form_for_param input[type=text]{
    width: 60px;
}

.inp input[type=text]{
    margin: 5px 0px 0px -80px;
    width: 60px;
    text-align: right;
}

.inp{
    background: url(/images/formula.png) no-repeat;
    background-size: 816px 42px;
    height: 60px;
    width: 900px;
}

.check{
    text-align: left;
}

.paint input[type='text']{
    text-align: left;
    width: 20px;
    text-align: right;
}

.paint{
    text-align: left;
    margin-bottom: 50px;
}

input[type='text']{
    border: none;
}

.info{
    margin-left: 50px;
    margin-top: 100px;
    text-align: left;
}

.publs{
    margin-left: 50px;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 50px;
}

.publs b{
    font-size: 20px;
}

.name{
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 16pt;
}